/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Roboto', sans-serif, cursive;
    --body-font:'Roboto', sans-serif;
    --main-font-color-dark: #090909;
    --secondary-font-color: #654040;
    --body-font-color: #000000;
}
html{
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     color: var(--body-font-color);
     scroll-behavior: smooth;   
}


/* header */
body{
  background: #ffffff;  
   overflow-x: hidden;
   
   }
   nav{
     /* background: rgb(250, 250, 250); */
     background: #ffffff;
   
   }
   nav:after{
     content: '';
     clear: both;
     display: table;
   }/* 
   @media (max-width: 600px) {
   nav .logo img{
     width: 300px;
   }
 } */
   
   nav .logo{
     float: left;
     color: rgb(173, 37, 37);
     font-size: 24px;
     font-weight: 600;
     line-height: 70px;
     padding-left: 80px;
     font-family: 'Times New Roman', Times, serif;
   }
   nav ul{
     float: right;
     margin-right: 40px;
     list-style: none;
     position: relative;
   }
   nav ul li{
     float: left;
     display: inline-block;
     background: #ffffff;
     margin: 0 5px;
   }
   nav ul li a{
     color: rgb(0, 0, 0);
     line-height: 70px;
     text-decoration: none;
     font-size: 18px;
     padding:8px 25px;
   }
   nav ul li a:hover{
     color: rgb(192, 8, 8);
     border-radius: 5px;
     box-shadow:  0 0 5px #ff3333,
                  0 0 10px #be1515;
   }
   nav ul ul li a:hover{
     box-shadow: none;
   }
   nav ul ul{
     position: absolute;
     top: 90px;
     border-top: 3px solid rgb(250, 36, 33);
     opacity: 0;
     visibility: hidden;
     z-index: 1;
     transition: top .3s;
   }
   nav ul ul ul{
     border-top: none;
   }
   nav ul li:hover > ul{
     top: 70px;
     opacity: 1;
     visibility: visible;
   }
   nav ul ul li{
     position: relative;
     margin: 0px;
     width: 260px;
     z-index: 999;

     float: none;
     display: list-item;
     border-bottom: 1px solid rgb(236, 230, 230);
   }
   nav ul ul li a{
     line-height: 50px;
   }
   nav ul ul ul li{
     position: relative;
     top: -60px;
     left: 150px;
   }
   .show,.icon,input{
     display: none;
   }
   .fa-plus{
     font-size: 15px;
     margin-left: 40px;
   }
   @media all and (max-width: 968px) {
     nav ul{
       margin-right: 0px;
       float: left;
       z-index: 100;
     }

     nav .logo{
       padding-left: 60px;
       font-size: 18px;
       width: 100%;
     }
     .hscontent{
      padding-left: 20px;
      width: 80%;
 
    }


     .show + a, ul{
       display: none;
     }
     nav ul li,nav ul ul li{
       display: block;
       width: 100%;
       background-color: #fffbfb;
     }
     nav ul li a:hover{
       box-shadow: none;
     }
     .show{
       display: block;
       color: rgb(0, 0, 0);
       font-size: 18px;
       padding: 0 20px;
       line-height: 70px;
       cursor: pointer;
  
     }
     .show:hover{
       color: rgb(230, 15, 15);
     }
     .icon{
       display: block;
       color: rgb(1, 1, 1);
       position: absolute;
       top: 0;
       right: 40px;
       line-height: 70px;
       cursor: pointer;
       font-size: 25px;
     }
     nav ul ul{
       top: 70px;
       border-top: 0px;
       float: none;
       position: static;
       display: none;
       opacity: 1;
       visibility: visible;
     }
     nav ul ul a{
       padding-left: 40px;
     }
     nav ul ul ul a{
       padding-left: 80px;
     }
     nav ul ul ul li{
       position: static;
     }
     [id^=btn]:checked + ul{
       display: block;
     }
     nav ul ul li{
       border-bottom: 0px;
     }
     span.hscontent.hsimg.cancel:before{
       content: '\f00d';
     }
     
     
   }


/* bussiness models */

body{
  --c1--1--:#1f2732;
  --c1--2--:#ffffff;
  --c1--3--:#2e3947;
  --c1--4--:#d1b06b;
  --c1--5--:#d7d7d7;
  background: var(--c1--2--) ; 
}


img{
  display: flex;
  width: 100%;
  height: 100%;
}

.containerr{
  max-width: 10%;
  margin: 0 auto;

}
.centered {
  position: absolute;
  top: 35%;
  left: 30%;
  font-size: 20px;
  font-weight: 400;
  transform: translate(-50%, -50%);
  color: #fff;

}

.headcentered{
  position: absolute;
  top: 25%;
  left: 29%;
  font-size: 60px;
  font-weight: 1000;
  transform: translate(-50%, -50%);
  color: #fff;
 
}
.testimonial-containerr{

  margin-top: 80px;
  margin-bottom: 50px;
}

.testimonial{
  padding: 4rem 0;
  background-color: #1f2732;;
} 

.heading{
  display: grid;
  gap: 1rem;
  text-align: center;
}


h1{

  font-family:'carmorant garamond',serif ;
  font-weight: 700;
  font-size:40px;
  text-transform: capitalize;
  color:#ffffff;
}


.heading img{
  max-width: 100px;
  object-fit: contain;
  margin: 0 auto;
}


.testimonial-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 2rem;
}

.t-card{
  cursor: pointer;
  display: grid;
  gap: 1rem;
}

.t-profile-title{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.t-profile img{
  width: 70px;
  height: 85px;
  object-fit: cover;
  border: 2.5px solid var(--c1--4--);
  border-radius: 50%;
  -webkit-border-radius:50%;
  -moz-border-radius: 50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  transition: .05s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.t-card:hover .t-profile img{
  border-color: var(--c1--3--);
}

  
h5{
  font-family:'carmorant garamond',serif ;
  font-weight: 700;
  font-size: (1rem,5vw,1.75rem);
  text-transform: capitalize;
  color: #ffffff;
}

h6{
  font-size: 1.125rem;
  color:var(--c1--5--);
  text-transform: capitalize;
}

.t-card-content{
  display: flex;
  gap: 2rem;
  object-fit: cover;
  border-color: var(--c1--3--);
  border: 2.5px solid var(--c1--3--);
  padding: 3rem, 1.5rem;
  fill: var(--c1--4--);
  border-radius: 50px 0 0 0;
  -webkit-border-radius: 50px 0 0 0;
  -moz-border-radius:  50px 0 0 0;
  -ms-border-radius: 50px 0 0 0;
  -o-border-radius: 50px 0 0 0;
  transition: .05s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}



.t-card:hover .t-card-content{
  border-color: var(--c1--4--);
  border-radius: 0 50px 0 0;
  -webkit-border-radius: 0 50px 0 0;
  -moz-border-radius:  0 50px 0 0 ;
  -ms-border-radius: 0 50px 0 0 ;
  -o-border-radius: 0 50px 0 0 ;
}


.t-card:nth-of-type(even) .t-card-content{
  border-radius: 0 0 0 50px;
  -webkit-border-radius: 0 0 0 50px;
  -moz-border-radius: 0 0 0 50px;
  -ms-border-radius:0 0 0 50px;
  -o-border-radius: 0 0 0 50px;
}



.t-card:nth-of-type(even):hover .t-card-content{
  
  border-radius: 0 0 50px 0 ;
  -webkit-border-radius: 0 0 0 50px;
  -moz-border-radius: 0 0 0 50px;
  -ms-border-radius:0 0 0 50px;
  -o-border-radius: 0 0 0 50px;
}


p{
  font-size: 1.110rem;
  color: var(--c1--3--);
  line-height: 160%;
  padding-top: 30px;
  font-size: medium;
}


/* media */

@media (min-width:1500px) {

  .containerr{
      max-width: 1400px;
  }
}

@media all and (max-width: 968px) {
  .headcentered{
    font-size: 27px;
      padding: 10px 30px;
      padding-left: 30px;
      z-index: 1;
  }
  .centered{
    font-size: 33px;
    padding: 10px 30px;
  }
}

/* media */

@media (min-width:1500px) {

  .containerr{
      max-width: 1400px;
  }
}

@media all and (max-width: 968px) {
  .headcentered{
    font-size: 27px;
      padding: 10px 30px;
      padding-left: 30px;
      z-index: 1;
  }
  .centered{
    font-size: 23px;
    padding: 10px 30px;
  }
}

/* end bussiness model */




/* ######################################################################################################################## */

  
  
  
  

/* FOOTER SECTION */

.bodycon{
          min-height: 10vh;
          width: 100%;
         
        }
        footer{
          position: relative;
          background: #140B5C;
          width: 100%;
          bottom: 0;
          left: 0;
     
        }
        footer::before{
          content: '';
          position: absolute;
          left: 0;
          top: 100px;
          height: 1px;
          width: 100%;
          background: #AFAFB6;
        }
        footer .content1{
          max-width: 1250px;
          margin: auto;
          padding: 30px 40px 40px 40px;
        }
        footer .content1 .top{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 50px;
        }
        .content1 .top .logo-details{
          color: #fff;
          font-size: 30px;
        }
        .content1 .top .media-icons{
          display: flex;
        }
        .content1 .top .media-icons a{
          height: 40px;
          width: 40px;
          margin: 0 8px;
          border-radius: 50%;
          text-align: center;
          line-height: 40px;
          color: #fff;
          font-size: 17px;
          text-decoration: none;
          transition: all 0.4s ease;
        }
        .top .media-icons a:nth-child(1){
          background: #4267B2;
        }
        .top .media-icons a:nth-child(1):hover{
          color: #4267B2;
          background: #fff;
        }
        .top .media-icons a:nth-child(2){
          background: #1DA1F2;
        }
        .top .media-icons a:nth-child(2):hover{
          color: #1DA1F2;
          background: #fff;
        }
        .top .media-icons a:nth-child(3){
          background: #E1306C;
        }
        .top .media-icons a:nth-child(3):hover{
          color: #E1306C;
          background: #fff;
        }
        .top .media-icons a:nth-child(4){
          background: #0077B5;
        }
        .top .media-icons a:nth-child(4):hover{
          color: #0077B5;
          background: #fff;
        }
        .top .media-icons a:nth-child(5){
          background: #FF0000;
        }
        .top .media-icons a:nth-child(5):hover{
          color: #FF0000;
          background: #fff;
        }
        footer .content1 .link-boxes{
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
        footer .content1 .link-boxes .box{
          width: calc(100% / 5 - 10px);
        }
        .content1 .link-boxes .box .link_name{
          color: #fff;
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 10px;
          position: relative;
        }
        .link-boxes .box .link_name::before{
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          height: 2px;
          width: 35px;
          background: #fff;
        }
        .content1 .link-boxes .box li{
          margin: 6px 0;
          list-style: none;
        }
        .content1 .link-boxes .box li a{
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          text-decoration: none;
          opacity: 0.8;
          transition: all 0.4s ease
        }
        .content1 .link-boxes .box li a:hover{
          opacity: 1;
          text-decoration: underline;
        }
        .content1 .link-boxes .input-box{
          margin-right: 55px;
        }
        .link-boxes .input-box input{
          height: 40px;
          width: calc(100% + 55px);
          outline: none;
          border: 2px solid #AFAFB6;
          background: #140B5C;
          border-radius: 4px;
          padding: 0 15px;
          font-size: 15px;
          color: #fff;
          margin-top: 5px;
        }
        .link-boxes .input-box input::placeholder{
          color: #AFAFB6;
          font-size: 16px;
        }
        .link-boxes .input-box input[type="button"]{
          background: #fff;
          color: #140B5C;
          border: none;
          font-size: 18px;
          font-weight: 500;
          margin: 4px 0;
          opacity: 0.8;
          cursor: pointer;
          transition: all 0.4s ease;
        }
        .input-box input[type="button"]:hover{
          opacity: 1;
        }
        footer .bottom-details{
          width: 100%;
          background: #0F0844;
        }
        footer .bottom-details .bottom_text{
          max-width: 1250px;
          margin: auto;
          padding: 20px 40px;
          display: flex;
          justify-content: space-between;
        }
        .bottom-details .bottom_text span,
        .bottom-details .bottom_text a{
          font-size: 14px;
          font-weight: 300;
          color: #fff;
          opacity: 0.8;
          text-decoration: none;
        }
        .bottom-details .bottom_text a:hover{
          opacity: 1;
          text-decoration: underline;
        }
        .bottom-details .bottom_text a{
          margin-right: 10px;
        }
        @media (max-width: 900px) {
          footer .content1 .link-boxes{
            flex-wrap: wrap;
          }
          .box{
           display: block;
          }
          footer .content1 .link-boxes .input-box{
            width: 40%;
            margin-top: 10px;
          }
        }
        @media (max-width: 700px){
          footer{
            position: relative;
          }
          .content1 .top .logo-details{
            font-size: 26px;
          }
          .content1 .top .media-icons a{
            height: 35px;
            width: 35px;
            font-size: 14px;
            line-height: 35px;
          }
          footer .content1 .link-boxes .box{
            width: calc(100% / 3 - 10px);
          }
          footer .content1 .link-boxes .input-box{
            width: 60%;
          }
          .bottom-details .bottom_text span,
          .bottom-details .bottom_text a{
            font-size: 12px;
          }
        }
        @media (max-width: 520px){
          footer::before{
            top: 145px;
          }
          footer .content1 .top{
            flex-direction: column;
          }
          .content1 .top .media-icons{
            margin-top: 16px;
          }
          footer .content1 .link-boxes .box{
            width: calc(100% / 2 - 10px);
          }
          footer .content1 .link-boxes .input-box{
            width: 100%;
          }
        }
        
