
/* FOOTER SECTION */

.bodycon{
    min-height: 10vh;
    width: 100%;
   
  }
  footer{
    position: relative;
    background: #140B5C;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
  }
  footer .content1{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content1 .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content1 .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content1 .top .media-icons{
    display: flex;
  }
  .content1 .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }
  footer .content1 .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content1 .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content1 .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content1 .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content1 .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content1 .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content1 .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: #0F0844;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content1 .link-boxes{
      flex-wrap: wrap;
    }
    .box{
       display: inline;
       overflow-x: hidden;
       
      }
    footer .content1 .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
  
    .content1 .top .logo-details{
      font-size: 26px;
    }
    .content1 .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content1 .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content1 .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content1 .top{
      flex-direction: column;
    }
    .content1 .top .media-icons{
      margin-top: 16px;
    }
    footer .content1 .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content1 .link-boxes .input-box{
      width: 100%;
  
    }
  }
  


    

@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #ad813f;
    --body-font-color: #0f0e0e;
}





/* header*/
 
body{
     background: #fff;
   }
   nav{
     background: #fff;
     padding-bottom: 8px;
	   padding-top: 2px;
	 /* border-bottom:outset; */
	 border-width:1px;
	 border-image:linear-gradient(to left,rgb(15, 15, 25),rgb(161, 133, 174))1;
   }
   nav:after{
     content: '';
     clear: both;
     display: table;
   }
   nav .logo{
     float: left;
     color: rgb(173, 37, 37);
     font-size: 24px;
     font-weight: 700;
     padding-left: 80px;
     font-family: 'Times New Roman', Times, serif;
   }
   nav ul{
     float: right;
     margin-right: 40px;
     margin-top: 0px;
     list-style: none;
     position: relative;
   }
   nav ul li{
     float: left;
     display: inline-block;
     background: #fff;
     margin: 0 5px;
   }
   nav ul li a{
     color: rgb(10, 10, 10);
     line-height: 53px;
     text-decoration: none;
     font-size: 18px;
     padding:8px 25px;
   }
   nav ul li a:hover{
     color: rgb(222, 32, 32);
     border-radius: 5px;
     box-shadow:  0 0 5px #d60606,
                  0 0 10px #b71010;
   }
   nav ul ul li a:hover{
     box-shadow: none;
   }
   nav ul ul{
     position: absolute;
     top: 90px;
     border-top: 3px solid rgb(230, 26, 26);
     opacity: 0;
     visibility: hidden;
     transition: top .3s;
   }
   nav ul ul ul{
     border-top: none;
   }
   nav ul li:hover > ul{
     top: 46px;
     opacity: 1;
     z-index: 1;
     visibility: visible;
   }
   nav ul ul li{
     position: relative;
     margin: 0px;
     width: 250px;
     float: none;
     display: list-item;
     border-bottom: 1px solid #762b2b4d;
   }
   nav ul ul li a{
     line-height: 50px;
   }
   nav ul ul ul li{
     position: relative;
     top: -60px;
     left: 150px;
   }
   .show,.icon{
     display: none;
   }

   .container input{
    display: none;
  }
   .fa-plus{
     font-size: 15px;
     margin-left: 40px;
   }
   @media all and (max-width: 968px) {
     nav ul{
       margin-right: 0px;
       float: left;
     }
     nav .logo{
       padding-left: 60px;
       font-size: 18px;
       width: 100%;
     }
     .hscontent{
      padding-left: 20px;
      width: 80%;

    }
    .hsimg{
     
     top:40% ;
     left: 80%;
    }
     .show + a, ul{
       display: none;
       padding:1px 25px;
     }
     nav ul li,nav ul ul li{
       display: block;
       width: 100%;
     }
     nav ul li a:hover{
       box-shadow: none;
     }
     .show{
       display: block;
       color: rgb(21, 19, 19);
       font-size: 18px;
       padding: 0 20px;
       line-height: 70px;
       cursor: pointer;
     }
     .show:hover{
       color: rgb(228, 48, 48);
     }
     .icon{
       display: block;
       color: rgb(96, 29, 29);
       position: absolute;
       top: 0;
       right: 40px;
       line-height: 70px;
       cursor: pointer;
       font-size: 25px;
     }
     nav ul ul{
       
       top: 70px;
       border-top: 0px;
       float: none;
       position: static;
       display: none;
       opacity: 1;
       visibility: visible;
     }
     nav ul ul a{
       padding-left: 40px;
       
     }
     nav ul ul ul a{
       padding-left: 80px;
     }
     nav ul ul ul li{
       position: static;
     }
     [id^=btn]:checked + ul{
       display: block;
     }
     nav ul ul li{
       border-bottom: 0px;
     }
     span.cancel:before{
       content: '\f00d';
     }
   }

   
/* header end */

  
/*------------------------clinic-----------------------------*/

  
.experience__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .experience__image img {
    max-width: 500px;
    border-radius: 5px;
  }
  
  .experience__description {

    margin-top: 2rem;
    font-size: 0.5rem;
    line-height: 2rem;
    color: var(--primary-color);
  }
  
  .experience__features {
    margin: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
  }
  
  .experience__col h3 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--primary-color);
  }
  
  .experience__col p {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--primary-color);
  }
  
  .experience__content button {
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--primary-color);
    outline: none;
    border: 2px solid var(--primary-color);
    background-color: var(--white);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .experience__content button:hover {
    color: var(--white);
    background-color: var(--primary-color);
  }
  
  .process__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    
  }
  
  .process__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: 1.5rem;
    row-gap: 0.5rem;
    align-items: center;
  }
  
  .process__grid .number {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary-color);
  }
  
  .process__grid h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .process__grid p {
    margin-bottom: 2rem;
    color: var(--primary-color);
  }
  
  .process__grid span:not(.last-child) {
    height: 100%;
    width: 2px;
    margin: auto;
    background-color: var(--text-light);
  }
  
  .process__image {
    text-align: right;
    margin-right: 20%;
  }
  
  .process__image img {
    max-width: 500px;
    border-radius: 5px;
  }

  .bullet ul li{
   margin-left: 10%;
   }
  
/* -----------------------registration-from--------------------- */
/* 
.wrapper{
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.37);
  padding: 30px;
}

.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fec107;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form{
  width: 100%;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 2px solid #d5dbd9;
  border-radius: 3px;
}


.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus{
  border: 1px solid #fec107;
}

.wrapper .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
.wrapper .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.wrapper .form .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.wrapper .form .inputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid #fec107;
  display: block;
  position: relative;
}
.wrapper .form .inputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: #fec107;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.wrapper .form .inputfield .btns{
  width: 100%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .inputfield .btns:hover{
  background: #ffd658;
}

.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
}
 */
/*------------------------------------ upload resume------------------------------------- */
/* .choose_file label{
	display: block;
	border: 2px dashed #8178d3;
	padding: 15px;
	width: calc(100% - 20px);
	margin: 10px;
	text-align: center;
	cursor: pointer;
}
.choose_file #choose_file{
	outline: none;
	opacity: 0;
    width: 0;
}
.choose_file span{
	font-size: 14px;
	color: #8178d3;
}

.choose_file label:hover span{
	text-decoration: underline;
}
 */
/* -----------------------------------------------privacy-------------------------- */

.flex_align_justify{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:500;
  font-size: large;
}

.wrapperss{
  min-height: 100vh;
  padding: 0 20px;
}

.tc_wrap{
  width: 700px;
  max-width: 100%;
  height: 450px;
  background: var(--white);
  display: flex;
  border-radius: 3px;
  overflow: hidden;
}

.tc_wrap .tabs_list{
  width: 200px;
  background: rgb(4, 9, 69);
  height: 100%;
}

.tc_wrap .tabs_content{
  width: calc(100% - 200px);
  padding: 0 10px 0 20px;
  height: 100%;
}

.tc_wrap .tabs_content .tab_head,
.tc_wrap .tabs_content .tab_foot{
  color: var(--primary-clr);
  padding: 25px 0;
  height: 70px;
}

.tc_wrap .tabs_content .tab_head{
  text-align: center;
}

.tc_wrap .tabs_content .tab_body{
  height: calc(100% - 140px);
  overflow: auto;
}

.tc_wrap .tabs_list ul{
  padding: 70px 20px;
  text-align: right;
}

.tc_wrap .tabs_list ul li{
  padding: 10px 0;
  position: relative;
  margin-bottom: 3px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s ease;
}

.tc_wrap .tabs_list ul li:before{
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 2px;
  height: 100%;
  background: var(--primary-clr);
  opacity: 0;
  transition: all 0.5s ease;
}

.tc_wrap .tabs_list ul li.active,
.tc_wrap .tabs_list ul li:hover{
  color: var(--primary-clr);
}

.tc_wrap .tabs_list ul li.active:before{
  opacity: 1;
}

.tc_wrap .tabs_content .tab_body .tab_item h3{
  padding-top: 10px;
  margin-bottom: 10px;
  color: var(--primary-clr);
}

.tc_wrap .tabs_content .tab_body .tab_item p{
  margin-bottom: 20px;
}

.tc_wrap .tabs_content .tab_body .tab_item.active{ 
  display: block !important;
}

.tc_wrap .tabs_content .tab_foot button{
    width: 125px;
    padding: 5px 10px; 
    background: transparent;
    border: 1px solid;
    border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.tc_wrap .tabs_content .tab_foot button.decline{
  margin-right: 15px;
  border-color: var(--tabs-list-bg-clr);
  color: var(--tabs-list-bg-clr);
}

.tc_wrap .tabs_content .tab_foot button.agree{
   background: var(--primary-clr);
  border-color: var(--primary-clr);
  color: var(--white);
}


