@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*Global styles*/


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Roboto', sans-serif, cursive;
    --body-font:'Roboto', sans-serif;
    --main-font-color-dark: #090909;
    --secondary-font-color: #f7a7a7;
    --body-font-color: #000000;
}
html{
     font-family: 'Roboto', sans-serif;
     font-size: 10px;
     color: var(--body-font-color);
     scroll-behavior: smooth;     
}
section{
       padding: 3.9rem 0;
       overflow: hidden;
}
img{
     width: 100%;
     max-width: 100%;
    
}
a{
   text-decoration: none;       
}
p{
  font-size: 1.6rem;
}
.container{
          width: 100%;
          max-width: 122.5rem;
          margin: 0 auto;
          padding: 0 2.4rem;
          
}



/* navigation bar  header*/
 
body{
     background: #fff;
   }
   nav{
     background: #fff;
     /* line-height: 80px; */
     padding-bottom: 65px;
     padding-top: 15px;
   }
   nav:after{
     content: '';
     clear: both;
     display: table;
   }
   nav .logo{
     float: left;
     color: rgb(136, 13, 13);
     font-size: 24px;
     
     font-weight: 700;
    /*  line-height: 70px; */
     padding-left: 80px;
    
     font-family: 'Times New Roman', Times, serif;
   }
   nav ul{
     float: right;
     margin-right: 40px;
     margin-top: 0px;
     list-style: none;
     position: relative;
   }
   nav ul li{
     float: left;
     display: inline-block;
     background: #fff;
     margin: 0px 5px;
   }
   nav ul li a{
     color: rgb(10, 10, 10);
     line-height: 30px;
     text-decoration: none;
     font-size: 18px;
     padding:8px 25px;
   }
   nav ul li a:hover{
     color: rgb(222, 32, 32);
     border-radius: 5px;
     box-shadow:  0 0 5px #d60606,
                  0 0 10px #b71010;
   }
   nav ul ul li a:hover{
     box-shadow: none;
   }
   nav ul ul{
     position: absolute;
     top: 90px;
     border-top: 3px solid rgb(230, 26, 26);
     opacity: 0;
     visibility: hidden;
     transition: top .3s;
   }
   nav ul ul ul{
     border-top: none;
   }
   nav ul li:hover > ul{
     top: 46px;
     opacity: 1;
     z-index: 1;
     visibility: visible;
   }
   nav ul ul li{
     position: relative;
     margin: 0px;
     width: 260px;
     float: none;
     display: list-item;
     border-bottom: 1px solid #762b2b4d;
   }
   nav ul ul li a{
     line-height: 50px;
   }
   nav ul ul ul li{
     position: relative;
     top: -60px;
     left: 150px;
   }
   .show,.icon,input{
     display: none;
   }
   .fa-plus{
     font-size: 15px;
     margin-left: 40px;
   }
   @media all and (max-width: 968px) {
     nav ul{
       margin-right: 0px;
       float: left;
     }
     nav .logo{
       padding-left: 60px;
       font-size: 18px;
       width: 100%;
     }
     .hscontent{
      padding-left: 20px;
      width: 80%;

    }

    .hsimg{
     
     top:40% ; 
     left: 80%;
    }
     .show + a, ul{
       display: none;
       padding:1px 25px;
     }
     nav ul li,nav ul ul li{
       display: block;
       width: 100%;
     }
     nav ul li a:hover{
       box-shadow: none;
     }
     .show{
       display: block;
       color: rgb(21, 19, 19);
       font-size: 18px;
       padding: 0 20px;
       line-height: 70px;
       cursor: pointer;
     }
     .show:hover{
       color: rgb(228, 48, 48);
     }
     .icon{
       display: block;
       color: rgb(96, 29, 29);
       position: absolute;
       top: 0;
       right: 40px;
       line-height: 70px;
       cursor: pointer;
       font-size: 25px;
     }
     nav ul ul{
       top: 70px;
       border-top: 0px;
       float: none;
       position: static;
       display: none;
       opacity: 1;
       visibility: visible;
     }
     nav ul ul a{
       padding-left: 40px;
       
     }
     nav ul ul ul a{
       padding-left: 80px;
     }
     nav ul ul ul li{
       position: static;
     }
     [id^=btn]:checked + ul{
       display: block;
     }
     nav ul ul li{
       border-bottom: 0px;
     }
     span.cancel:before{
       content: '\f00d';
     }
   }

   
/* header */




/* FOOTER SECTION */

.bodycon{
    min-height: 10vh;
    width: 100%;
   
  }
  footer{
    position: relative;
    background: #140B5C;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
  }
  footer .content1{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content1 .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content1 .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content1 .top .media-icons{
    display: flex;
  }
  .content1 .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }
  footer .content1 .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content1 .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content1 .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content1 .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content1 .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content1 .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content1 .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: #0F0844;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content1 .link-boxes{
      flex-wrap: wrap;
    }
    .box{
       display: inline;
       overflow-x: hidden;
       
      }
    footer .content1 .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
  
    .content1 .top .logo-details{
      font-size: 26px;
    }
    .content1 .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content1 .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content1 .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content1 .top{
      flex-direction: column;
    }
    .content1 .top .media-icons{
      margin-top: 16px;
    }
    footer .content1 .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content1 .link-boxes .input-box{
      width: 100%;
  
    }
  }
  
/* -----------------------------------------------------------soft services ------------------------------------------------------------------- */

/* Split Box */

.split{}

.split section{display:block; position:relative; float:left; width:50%; padding:100px 50px 100px 0;}
.split section::after{display:block; position:absolute; top:0; right:100%; bottom:0; left:-1000%; content:"";}


/* Content Area  */
.container{padding:100px 0;}

/* Content */
.container .content
{

}

.sectiontitle
{
display:block; 
max-width:55%; 
margin:0 auto 80px;
text-align:center;
}

.sectiontitle *
{
	margin:0;
}

.grid-3 > li
{
margin-bottom:50px;
}

.grid-3 > li:nth-last-child(-n+3){margin-bottom:0;}
.grid-3 > li:nth-child(3n+1){margin-left:0; clear:left;}



/* Tables */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery*/
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


/* Rows */
.row0{color:#474747; background-color:#FFFFFF;max-height: 100px; font-size: 12px}
.row1{color:#474747; background-color:#FFFFFF; border-color:rgba(0,0,0,.2);}
.row2{color:#474747; background-color:#F4F4F4;}
.row3{color:#474747; background-color:#FFFFFF;}
.row4{color:#A8A8A8; background-color:#202020;}
.row5, .row5 a{color:#A8A8A8; background-color:#202020;}
.row5{border-color:rgba(255,255,255,.2);}

.coloured{color:#FFFFFF; background-color:#D24130;}



/* Header */
#header #logo a{color:inherit;}


/* Split Box */
.split section, .split section::after{color:#FFFFFF; background-color:#202020;}
.split section i{color:#D24130;}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}


/* Media Queries*/
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc. */
@media screen and (min-width:1140px){
	.hoc{max-width:1140px;}
}

@media screen and (min-width:978px) and (max-width:1140px){
	.hoc{max-width:95%;}
}


/* Mobile Devices*/
@media screen and (max-width:978px){
	.hoc{max-width:90%;}

	#header{padding:30px;}
	#header #logo{margin-top:0;}

	#mainav{}
	#mainav ul{display:none;}
	#mainav form{display:block; margin-top:2px;}

	#breadcrumb{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}

@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left , .fl_right{display:block; float:none;}
	.one_half, .one_third , .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0;}
	.last, .group .group > *:last-child, .clear .clear > *:last-child, .clear .group > *:last-child, .group .clear > *:last-child{margin-bottom:0;}/* Experimental - Needs more testing in different situations, stops double margin when stacking */

	#header{text-align:center;}
	#header #logo{margin:0 0 15px 0;}

	#pageintro article{max-width:none;}
	#pageintro .heading{margin-bottom:20px; font-size:2.5rem;}

	.cta > :first-child{margin-top:0; text-align:center;}
	.cta footer a{display:inline-block;}

	.sectiontitle{max-width:none;}
	.grid-3{margin:0 auto; max-width:348px;}/* Restrict the width to the one_third grid element in smaller devices */
	.grid-3 > li:nth-last-child(-n+3){margin-bottom:50px;}
	.grid-3 > li:last-child{margin-bottom:0;}

	#latest > li{margin:0 auto 50px;}

	
}

@media screen and (max-width:450px){
	#points li{display:block; float:none; width:100%; margin-left:0;}
	#points li:nth-last-child(2){margin-bottom:20px;}
}



/*To split page*/
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height:400px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

